* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #9598a7;
    display: flex;
    justify-content: center;
}

.login-container{
    width:400px;
    min-height:100vh;
    background:#232323;
}

/* Top */

.login-top {
    height: 50px;
    background: #3f3f3f;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-top a{
    color:#fff;
    font-size:24px;
    text-decoration:none;
}

.login-top img{
    width:120px;
}

.lang{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 8px;
    color: #7a453f;
    font-weight: 500;
    font-size: 17px;
}

.lang img{
    width:30px;
    height:30px;
    border-radius:50%;
}

/* Title */

.login-title{
    padding:20px 18px;
    background:linear-gradient(90deg,#f9ebb0,#d5a038);
}

.login-title h2{
    color:#fff;
    font-size:18px;
    margin-bottom:8px;
}

.login-title p{
    color:#fff;
    font-size:14px;
    line-height:20px;
}

/* Tabs */

.login-tabs{
    display:flex;
    padding:18px 15px 0;
}

.tab-btn{
    width:50%;
    background:none;
    border:none;
    color:#888;
    padding-bottom:12px;
    border-bottom:2px solid #444;
    cursor:pointer;
}

.tab-btn i{
    display:block;
    font-size:26px;
    margin-bottom:8px;
}

.tab-btn span{
    font-size:17px;
    font-weight:600;
}

.tab-btn.active{
    color:#d9aa3e;
    border-bottom:3px solid #d9aa3e;
}

/* Forms */

.login-form{
    display:none;
}

.active-form{
    display:block;
}
/* Labels */

.login-form label{
    display:flex;
    align-items:center;
    color: #fff;
    gap:4px;
    margin:15px 15px 10px;
    font-size:16px;
    font-weight:500;
}

.login-form label i{
    color:#d9aa3e;
    width:22px;
}

/* Phone Box */

.phone-box{
    display:flex;
    gap:8px;
    padding:0 15px;
}

.phone-box select{
    width:80px;
    height:42px;
    border:none;
    border-radius:12px;
    background:#343434;
    color:#fff;
    padding:0 10px;
    outline:none;
}

.phone-box input{
    flex:1;
    height:42px;
    border:none;
    border-radius:12px;
    background:#343434;
    color:#fff;
    padding:0 15px;
    outline:none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"]{
    -moz-appearance: textfield;
    appearance: textfield;
}
/* Email Input */

.login-form input[type=email]{
    width:calc(100% - 30px);
    margin:0 15px;
    height:42px;
    border:none;
    border-radius:12px;
    background:#343434;
    color:#fff;
    padding:0 15px;
    outline:none;
}

/* Password */

.password-box{
    margin:0 15px;
    height:42px;
    background:#343434;
    border-radius:12px;
    display:flex;
    align-items:center;
    padding:0 15px;
}

.password-box input{
    flex:1;
    background:none;
    border:none;
    color:#fff;
    outline:none;
    font-size:16px;
}

.password-box i{
    color:#bdbdbd;
    font-size:16px;
    cursor:pointer;
}

/* Send Button */

.send-btn{
    width:95px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#fdeca8,#d7a13a);
    color:#805300;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
}

/* Error */

.error{
    display:block;
    color:#ff4040;
    font-size:13px;
    margin:6px 15px 0;
    min-height:16px;
}

/* Placeholder */

input::placeholder{
    color:#8b8b8b;
}
/* Remember / Privacy */
.remember {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;
}

.remember input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #c8c9cc;
    background: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.remember input[type="checkbox"]:checked {
    background: #d8a949;
}

.remember input[type="checkbox"]:checked::before {
    content: "✓";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.remember label {
    margin: 0;
    color: #cfcfcf;
    line-height: 22px;
}

.privacy-link {
    color: #ff3d3d;
    font-size: 14px;
}


/* Reset Button */

.login-btn{
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #f7e8a7, #d9a13d);
    color: #7c4b00;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
   margin: 20px 35px 20px;
    
}

/* Validation */

.input-error{
    border:1px solid #ff4040 !important;
}

/* 400px se niche */

@media (max-width:400px){

    .login-top{
        padding: 0 10px;
    }

    .login-top img{
        width: 100px;
    }

    .lang{
        gap: 4px;
    }

    .lang img{
        width: 16px;
        height: 16px;
        min-width: 16px;
        object-fit: cover;
        border-radius: 50%;
    }

    .lang span{
        font-size: 14px;
    }

}
@media (max-width:320px){

    .login-top img{
        width: 85px;
    }

    .lang img{
        width: 14px;
        height: 14px;
        min-width: 14px;
    }

    .lang span{
        font-size: 12px;
    }

    .login-top a{
        font-size: 20px;
    }

}